@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.dark-mode {
  background-color: black;
  color: white;
}
:root {
    --body-color: #f7f7f7;
    --sidebar-color: #f0f0f0;
    --primary-color: #ec1111;
    --primary-color-light: gray;
    --toggle-color: #DDD;
    --text-color: #000000;

    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    overflow: hidden;
}


.sidebar header {
    position: relative;
}

/* reusable css */
.image {
    min-width: 60px;
    display: flex;
    align-items: center;
}
.nameLogo{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-color);
}
.text {
    font-size: 16px;
    font-weight: 500;
    transition: var(--tran-03);
}
/* sidebar */
.sidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px; /* Closed width */
    background: var(--sidebar-color);
    padding: 10px 14px;
    transition: width 0.3s ease;
}
.sidebar:hover {
    width: 250px; /* Full width when hovered */
}
.sidebar li i {
    font-size: 20px;
}
.sidebar .text {
    opacity: 0;
    width: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
    white-space: nowrap;
}
.sidebar:hover .text {
    opacity: 1;
    width: auto;
}
.sidebar li a {
    width: 100%;
    border-radius: 50px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color .5s ease, color 0.8s ease;
}


.sidebar li a:hover {
    border-radius: 50px;
    background-color: #b41212da;
    padding: 0;
    margin: 0;
}


.sidebar li a:hover i,
.sidebar li a:hover span {
    color: white;
}

.image-text {
    display: flex;
    align-items: center;
}

.image-text img {
    width: 50px;
    border-radius: 6px;
}

.menu-links li {
    height: 50px;
    margin-top: 1px;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link i {
    color: var(--primary-color);
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.header-text span {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-color);
}

.menu-links span,
.bottom-content span {
    color: var(--text-color);
}

.menu-bar li {
    margin-bottom: 10px;
}

.menu-bar {
    margin-top: 20px;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*  *end of side bar css*/

.artwork-section {
    width: 1100px;
    height: 100vh;
    position: absolute;
    padding: 20px;  


}

.profile-info{
    width: 100%;
    height: 30%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.image-profile{
   width: 10%;
   height: 100%;
    border-radius: 80%;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}


.name{
    width: 30%;
    position: relative;
    left: 50px;

    span{
        font-size: 2rem;
        font-weight: 700;
    }

    p{
        font-size: .8rem;
    }
}
.follow{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.follow a{
    text-decoration: none;
    color: black;

   
}

.follow  a:hover{
    color: #ec1111;
    text-decoration: underline;
}
.follow span{
    font-size: 1rem;
}

.edit-profile-container{
    height: 30%;
    width: 15%;
    position: relative;
    left: 40%;
    top: 50%;

    button{
        width: 200px;
        height: 30px;
        border-radius: 20px;
        border-style: none;
    }

    button:hover{
        color: #ec1111;
        cursor: pointer;
    }
}

.tabpanes{
    padding: 20px;
   
}
.tab {

    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.tab a {
    text-decoration: none;
    position: relative;
    transition: .5s;
    opacity: 1;
    padding-left: 6px;
    padding-right: 6px;
    font-size: .9rem;
}

.tab a:hover, .tab a.active {
    color: #ec1111; 
    cursor: pointer;
}

.tab a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 1px solid transparent; 
    transform: scale(0) translateY(50px);
    transition: .5s;
}

.tab a:hover span, .tab a.active span {
    border-bottom: 1px solid #ec1111; 
    transform: scale(1) translateY(0);
    opacity: 1;
}

  /* Style the tab content */
  .tabcontent {

    display: none;
    padding: 6px 12px;
  }

/* Creations */
#upload{
    background-color:rgba(128, 128, 128, 0.219);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    i{
        font-size: 25px;
    }
}
  /* Saved */
.image-artwork {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.image-artwork img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.box{
    font-size: .8rem;
    height: 350px;
    cursor: pointer;
}

.box span{
    font-size: .8rem;
}

.artist-name {
    height: 0; 
    width: 260px;
    position: relative;
    left: 10px;
    bottom: 15px;
    font-size: 0.7rem;
    text-align: left;
    overflow: hidden;
    transition: 1s ease;
    border-radius: 20px;
    padding: 2px 10px; 
    backdrop-filter: blur(3px); 
    color: white;
}

.box:hover .artist-name{
    bottom: 20%;
    height: 40px;
    cursor: pointer;
 }

/* favorites */
