@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --body-color: #f7f7f7;
    --sidebar-color: #f0f0f0;
    --primary-color: #ec1111;
    --primary-color-light: gray;
    --toggle-color: #DDD;
    --text-color: #000000;

    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}


.sidebar header {
    position: relative;
}

/* reusable css */
.image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.text {
    font-size: 16px;
    font-weight: 500;
    transition: var(--tran-03);
}

/* sidebar */
.sidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px; /* Closed width */
    background: var(--sidebar-color);
    padding: 10px 14px;
    transition: width 0.3s ease;
}
.sidebar:hover {
    width: 250px; /* Full width when hovered */
}
.sidebar li i {
    font-size: 20px;
}
.sidebar .text {
    opacity: 0;
    width: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar:hover .text {
    opacity: 1;
    width: auto;
}
.sidebar li a {
    width: 100%;
    border-radius: 50px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color .5s ease, color 0.8s ease;
}


.sidebar li a:hover {
    border-radius: 50px;
    background-color: #b41212da;
    padding: 0;
    margin: 0;
}


.sidebar li a:hover i,
.sidebar li a:hover span {
    color: white;
}

.image-text {
    display: flex;
    align-items: center;
}

.image-text img {
    width: 50px;
    border-radius: 6px;
}

.menu-links li {
    height: 50px;
    margin-top: 1px;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link i {
    color: var(--primary-color);
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.header-text span {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-color);
}

.menu-links span,
.bottom-content span {
    color: var(--text-color);
}

.menu-bar li {
    margin-bottom: 10px;
}

.menu-bar {
    margin-top: 20px;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*  *end of side bar css*/



.wrapper {
    margin: 0 auto;
    padding: 20px;
    width: 95%;
    height: 100vh;
    float: right;
    margin-left: 78px; 
}

.top-head{
    padding: 5px;
    position: relative;
    height: 50px;
    width: 90%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;    
    background-color: rgba(170, 168, 168, 0.24);
    border-radius: 10px;

}
.searchbar{
    position: relative;
    bottom: 5px;
    left: 460px;

}
.searchbar input {
    width: 40px; /* Initially small, like a circle */
    height: 40px;
    border-radius: 50%; /* Makes it a circle */
    border-style: none;
    background-color: #fff8f8;
    padding: 10px;
    font-size: 12px;
    transition: width 0.5s ease;
    outline: none;
    position: absolute;
    right: 0;
    
}
.searchbar input:focus, 
.bar:hover{
    width: 300px; 
    border-radius: 20px;
    cursor: pointer; 
}

.search{
    position: relative;
    left: 20px;
    top: 5px;
}

.filter{
    position: relative;
    top: 5px;
    left: 25px;
    font-size: 25px;
}

.filter:hover{
    cursor: pointer;
}
.profile{
    padding: 2px;
    display: flex;
    gap: 5px;
    margin-right: 10px;
}
.profile-pic{
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
}

/* container artwork css */

.art-container{
    margin-top: 55px;
    width: 100%;
    height: 92%;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}